@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@300;400;600;700&display=swap');

:root { color-scheme: dark light; }
body { font-family: 'Cairo', sans-serif; background:#0f172a; } /* dark base */
.light body { background:#f8fafc; }

.soft-card{ box-shadow: 0 10px 30px rgba(2,6,23,0.06); }